    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
          <form>
            <div class="form-group">
              <label for="who">Who is the most specific group of people you can think of who will use {{NV.title}}?</label>
              <textarea type="textarea" class="form-control" id="who" placeholder="Doctors under the age of 35 in North Dakota" ng-model="NV.who"></textarea>
            </div>
            <div class="form-group">
              <label for="what">As concisely as possible what does {{NV.title}} do for those people?</label>
              <textarea type="textarea" class="form-control" id="what" placeholder="Helps them connect with other doctors in real-time by use of two tin cans and a long string." ng-model="NV.what"></textarea>
            </div>
            <div class="form-group">
              <label for="why">What is the biggest reason/driver that these people need {{NV.title}}?</label>
              <textarea type="textarea" class="form-control" id="why" placeholder="Hospitals in North Dakota are very loud and I don't like to use my pager." ng-model="NV.why"></textarea>
            </div>

            <button type="submit" class="btn btn-default" ng-click="NV.submit(NV.who, NV.what, NV.why)">Submit</button>
          </form>
        </div>
      </div>

    </div>
